.custom-bg {
  background: rgb(196, 168, 44);
  background: linear-gradient(180deg, rgb(209, 181, 54) 26%, rgba(0, 0, 0, 1) 75%, rgba(69, 69, 69, 1) 100%);
}

.album-bg {
  background: rgba(44, 44, 44, 0.322);
}
.button-bg {
  background-color: rgba(12, 12, 12, 0.705);
}
i {
  font-size: 25px;
}
.play-button {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  background-color: #49d85a;
}
#clockicon {
  font-size: 15px;
}
.graytext {
  color: #8f8f8d;
}
.arrow-span {
  width: 38px;
  height: 38px;
}
.left-column svg {
  width: 30px;
  height: 30px;
  fill: #8f8f8d;
}
#homebutton,
#searchbutton {
  fill: white;
}
.left-column {
  color: #8f8f8d;
  font-weight: 500;
  background-color: rgb(10, 10, 10);
}
.left-column i {
  font-size: 30px;
}
.svg-box1 {
  min-width: 30px;
  height: 30px;
  background-color: rgba(62, 11, 143, 0.781);
  border-radius: 3px;
}
.svg-box2 {
  min-width: 30px;
  height: 30px;
  background-color: rgba(7, 77, 7, 0.781);
  border-radius: 3px;
}
.svg-box1 svg,
.svg-box2 svg {
  width: 15px;
  height: 15px;
}
.right-column {
  color: #8f8f8d;
  background-color: rgb(10, 10, 10);
}
.right-column p {
  margin: 0;
  font-weight: bold;
}
.right-column span {
  font-size: 0.7rem;
  font-weight: 500;
}
span i {
  font-size: 12px;
}
