.album-bg {
  background: rgba(44, 44, 44, 0.473);
}
.button-bg {
  background-color: rgba(12, 12, 12, 0.705);
}
i {
  font-size: 25px;
}
.play-button {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  background-color: #49d85a;
}
#clockicon {
  font-size: 15px;
}
.graytext {
  color: #8f8f8d;
}
.durationtext {
  color: #e4e2e2;
}
.arrow-span {
  width: 38px;
  height: 38px;
}
.playlist-btn {
  color: #49d85a;
  font-size: 3rem;
}
