footer h3 {
  font-size: 16px;
}
footer i {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: -7px;
}
footer a {
  display: block;
  text-decoration: none;
  margin-bottom: 8px;
  color: #8f8f8d;
  font-size: 16px;
}
footer a:hover {
  color: white;
  text-decoration: underline;
}
footer .btn {
  cursor: pointer;
  background-color: #292929;
  width: 40px;
  height: 40px;
}
footer .btn:hover {
  background-color: #727272;
}
#last-footer a {
  font-size: 14px;
  margin-bottom: 0;
}
footer p {
  font-size: 14px;
  margin-bottom: 0;
  color: #8f8f8d;
}
.left-column svg {
  width: 30px;
  height: 30px;
  fill: #8f8f8d;
}
#homebutton,
#searchbutton {
  fill: white;
}
.left-column {
  color: #8f8f8d;
  font-weight: 500;
  background-color: rgb(10, 10, 10);
}
.left-column i {
  font-size: 30px;
}
.svg-box1 {
  min-width: 30px;
  height: 30px;
  background-color: rgba(62, 11, 143, 0.781);
  border-radius: 3px;
}
.svg-box2 {
  min-width: 30px;
  height: 30px;
  background-color: rgba(7, 77, 7, 0.781);
  border-radius: 3px;
}
.svg-box1 svg,
.svg-box2 svg {
  width: 15px;
  height: 15px;
}
.right-column {
  color: #8f8f8d;
  background-color: rgb(10, 10, 10);
}
.right-column p {
  margin: 0;
  font-weight: bold;
}
.right-column span {
  font-size: 0.7rem;
  font-weight: 500;
}
span i {
  font-size: 12px;
}
.left-column a {
  text-decoration: none;
  color: #8f8f8d;
}
