body {
  font-family: "Circular";
}

#search input {
  width: 300px;
  height: 50px;
}
#search:hover {
  border: 2px solid #424242;
  border-radius: var(--bs-border-radius-xxl);
}

#search input:active {
  border: 0px;
}

i {
  cursor: pointer;
}
#general-container {
  background-color: #121212;
}
#card1 {
  background-color: #dc148c;
  max-width: 180px;
  height: 180px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#card1 img {
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(25deg) translate(18%, -2%);
}

#relevant-result {
  background-color: #181818;
  cursor: pointer;
}
#relevant-result:hover {
  background-color: #282828;
  transition: all, 500ms;
}

.relevant-songs-row:hover {
  background-color: #282828;
  transition: all, 500ms;
}

#relevant-image {
  max-width: 40px;
  cursor: pointer;
}

.search h5 {
  font-size: 16px;
}

.search a {
  font-size: 14px;
  text-decoration: none;
  color: #424242;
}
.search a:hover {
  text-decoration: underline;
  color: #424242;
}
